[submodule "logserver-spark"]
	path = logserver-spark
	url = https://github.com/mixayloff-dimaaylov/logserver-spark
	branch = master
[submodule "clickhouse-grafana"]
	path = clickhouse-grafana
	url = https://github.com/mixayloff-dimaaylov/clickhouse-grafana
	branch = timestampms-with-columns-2.5.0
[submodule "satmap-panel"]
	path = satmap-panel
	url = https://github.com/mixayloff-dimaaylov/satmap-panel
	branch = clickhouse-ng
