[submodule "logserver-spark"]
	path = logserver-spark
	url = https://github.com/mixayloff-dimaaylov/ionosphere
	branch = master
[submodule "clickhouse-grafana"]
	path = clickhouse-grafana
	url = https://github.com/Altinity/clickhouse-grafana
	branch = master
[submodule "satmap-panel"]
	path = satmap-panel
	url = https://github.com/mixayloff-dimaaylov/satmap-panel
	branch = clickhouse-ng
